/*font*/
@font-face{
    font-family: 'AlexBrush-Regular';
    src: url(fonts/AlexBrush-Regular.ttf);
}
/* css base */


header{
    font-family: 'AlexBrush-Regular', Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#BDCDDB ;
    border-bottom: 1px solid black;
}

body {
    overflow-x: hidden;
}

/* css page home */

a:link{
    text-decoration: none;
}


.article{
    height: 470px;
    margin: 30px;
    text-align: center;
   
}

.row :hover{
    background-color: #BDCDDB;
}

.no-container {
    margin-left: 0 !important;
    margin-right: 0 !important; 
}


.title-article-home{
    font-size: 30px;
    font-family: 'AlexBrush-Regular', Arial, Helvetica, sans-serif;
    height: 60px;
    padding-top: 10px;
}



.contenu-home{
    height: 310px;
    overflow: hidden;
    word-break: break-word;
}

.datehome{
    margin-top: 15px;
}

/* css page single */

#titreSingle{
    text-align: center;
}

.comment{
    background-color:  #BDCDDB;
}


/* formulaire */ 


#submit{
    margin-top: 15px;
}



/*  css footer */
footer{
    border-top: 1px solid black;
    text-align: center;
    background-color: #BDCDDB;

}

#social i{
    font-size: 30px;
}

/* css tinymce*/
.tinymce{
    height: 500px;
}


/* css formulaire */


#title{
    width: 300px;
}

.flaged{
    display: none;
}