/*font*/
@font-face{
    font-family: 'AlexBrush-Regular';
    src: url(fonts/AlexBrush-Regular.ttf);
}
/* css base */
body{
    background-color:  #A2B7CA !important;
}

/* css page home */
h1{

    font-family: 'AlexBrush-Regular', Arial, Helvetica, sans-serif;
}


img{
    height: 450px;
}



#article{

    height: 470px;
    margin: 30px;
    text-align: center;

}

.row :hover{
    background-color: #BDCDDB;
}

.title-article-home{
    font-size: 30px;
    font-family: 'AlexBrush-Regular', Arial, Helvetica, sans-serif;
}



.contenu-home{
    text-align: justify;
    height: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.author_home{

}

/* css page single */
#comment{
    background-color:  #BDCDDB;
}



/*  css footer */
footer{
    border-top: 1px solid black;
    text-align: center;

}

#social i{
    font-size: 30px;
}